@charset "UTF-8";
/* CSS Document */
body {
    margin: auto;
    max-width: 100%;
    background-color: #ffffff;
    color: #212121;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
	min-height: 100%;
}
p {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
}
h1 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
button {
    background-color: #F44336;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 18px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: 'Roboto', 'sans serif';
	white-space: nowrap;
}
.navigation {
    max-width: 1280px;
    height: 100px;
    margin: auto;
}
.navigation img {
    display: inline-block;
    padding: 20px;
	width: 150px;
}
.right-content {
    display: inline-block;
    float: right;
    padding: 30px 0 20px 0;
}
.flex-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50px;
	content-align: bottom;
}
.flex-item a {
    padding: 0px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', 'sans serif';
    font-weight: bold;
    font-size: 14px;
    color: #212121;
}
.lower-border {
    width: 100%;
    height: 5px;
    background-color: #212121;
    clear: both;
}
.hero-image {
    margin: auto;
    max-width: 1240px;
    height: auto;
    position: relative;
    text-align: center;
    font-family: 'Roboto', 'sans serif';
    font-size: 4vw;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}
.hero-image img {
    max-width: 1240px;
    height: 313px;
    padding-top: 10px;
    overflow: hidden;
}
.text-block {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px 10px 20px;
    background-color: #FFC107;
}
.text-block h3 {
    padding: 3% 25% 15px 25%;
    text-align: center;
}
.text-block p {
    padding: 15px 20% 3% 20%;
}
.footer {
    width: 100%;
    background-color: #212121;
}
.footer-content {
    max-width: 1280px;
    height: 100px;
    margin: auto;
}
.copyright-info {
    padding: 20px;
    color: #ffffff;
    font-size: 10px;
    float: left;
    vertical-align: baseline;
}
.footer-logo {
    padding: 20px;
    max-width: 180px;
    float: right;
}
.image-center-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-center-button {
    position: absolute;
    top: 65%;
    left: 50%;
	width: 200px;
    transform: translate(-50%, -50%);
}
.explanation-grid {
	display: grid;
	grid-template-columns: 3% 67% 30%;
	margin: auto;
	max-width: 1240px;
	padding: 10px 0 30px 0;
}
.left-border {
	background: #f44336;
}
.info-text {
	text-align: left;
	padding: 30px 50px 30px 50px;
}
.search-gradient {
	background: linear-gradient(to bottom right, #f44336, #ffc107);
	text-align: center;
	align-content: center;
	padding: 30px;
}
.search-gradient img {
	max-width: 300px;
	width: 100%;
	text-align: center;
}
.black-rule {
	margin: 0 30% 0 30%;
	background-color: #212121;
	height: 3px;
}

@media only screen and (max-width: 620px) {
.image-center-text {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-center-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
	.navigation {
		height: 180px;
		text-align: center;
	}

.navigation img {
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}
.flex-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
	content-align: bottom;
	flex-grow: 1;
	margin: auto;
	text-align: center;
}
	.flex-item a {
		text-align: center;
		flex-grow: 1;
		padding: 0 10px;
	}
		.flex-item {
		text-align: center;
		flex-grow: 1;
	}
.right-content {
    float: none;
	display: block;
    padding: 10px 40px 20px 40px;
	margin: auto;
}
.footer-content {
    height: 150px;
	margin: auto;
	text-align: center;
}
	.copyright-info {
    padding: 20px;
    color: #ffffff;
    font-size: 10px;
    float: none;
	margin: auto;
	text-align: center;
    vertical-align: baseline;
}
.footer-logo {
    padding: 20px;
    max-width: 150px;
    float: none;
	margin: auto;
	text-align: center;
}
}

@media only screen and (max-width: 480px) {
.text-block h3 {
	padding: 15px 40px 15px 40px;
}
.text-block p {
	padding: 15px 20px 20px 20px;
	font-size: 14px;
}
		.navigation {
		font-size: 14px;
		height: 230px;
	}
.flex-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
	content-align: bottom;
	flex-grow: 1;
}
	.flex-item a {
		padding-top: 10px;
	}
}
